/* BODY */
body{
    
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-top: 0px;
}

ul.rs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    right: 100px;
    color:#FFF;
}

ul.rs li {
    display: inline-block;
    margin: 0 10px;
}

ul.rs li a,
ul.rs li a:visited {
    font-size: 28px;
    color:#FFF;
}

ul.rs li a:hover,
ul.rs li a:focus {
    color: #D20000;
}

/* MENU */
nav { 
    background-color: #000

}
nav ul {
    list-style-type: none;
}
nav a, nav a:visited {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: 22px;
}

ul.niv_1 {
    margin-bottom: 0;
    padding: left: 0;
    margin:0;
}

ul.niv_1 > li {
    display: inline-block;
    position: relative;
}

ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    color: #D20000;
}

ul.niv_1 > li:hover ul.niv_2 {
    display: block;
}

ul.niv_2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #000;
    padding-left: 0;
    box-shadow: 0px 13px 11px rgba(0,0,0,0.4);
    z-index: 100000;
}

ul.niv_2 li a,
ul.niv_2 li a:visited {
    text-align: left;
}

ul.niv_2 li a:hover,
ul.niv_2 li a:focus {
    background-color:#FFF;
    color: #000;
}

/* SLIDER IMAGE */

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: left;
}

/* Slideshow container */
div.slideshow-container {
  max-width: 600px;
  padding-bottom: 0;
}

/* The dots/bullets/indicators */
div.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div.active {
  background-color: #717171;
}

/* Fading animation */
div.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}